body {
    height: 100%;
    background: linear-gradient(to bottom, blue, lightblue);
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    opacity: 0.7;
}
#menu {
    background: lightgrey;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}

#menu a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #BBB;
}
main > section {
    display: none;
    padding: 20px 5px;
    text-align: center;
}
table th {
    background: #DDD;
    padding: 10px;
}
table td {
    padding: 3px 5px;
    background: #EEE;
}
footer {
    background: #DDD;
    opacity: 0.5;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}
td {
    text-align: left;
}
.buttonsTd {
    text-align: center;
}
#playersDiv {
    width: 40%;
    float: left;
}
#chatDiv {
    width: 55%;
    float: right;
}
#messageInput {
    width: 85%;
    margin-bottom: 5px;
}
#viewPlayers {
    overflow: auto;
}
#players table {
    width: 100%;
}
#messagesContainer {
    background-color: #EEE;
    border: thin black;
    text-align: left;
}
.messages {
    margin: 0 5px;
    font-size: 0.8em;
}
.messageText {
    overflow:hidden;
    text-overflow:ellipsis;
}
#inputMessage {
    width: 100%;
}
#messageButton {
    margin: 5px 0;
}
.boldUsername {
    font-weight: bold;
}
#passInput {
    margin-bottom: 3px;
}
#fileInput {
    margin: 0 auto;
    margin-bottom: 3px;
}
.glyphicon-minus-sign {
    color: red;
}
.glyphicon-plus-sign {
    line-height: 100%;
    animation: pulse 3s infinite;
}
.photo {
    width: 30%;
}

@-moz-keyframes pulse {
    0% {
        color: green;
    }
    50% {
        color: lightgreen;
    }
    100% {
        color: green;
    }
}

@-webkit-keyframes pulse {
    0% {
        color: green;
    }
    50% {
        color: lightgreen;
    }
    100% {
        color: green;
    }
}

@keyframes pulse {
    0% {
        color: green;
    }
    50% {
        color: lightgreen;
    }
    100% {
        color: green;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 22px;
    }
    #wrapper {
        width: 100%;
    }
    #menu a{
        display: block;
        font-size: 1.2em;
    }
    #players {
        font-size: 0.8em;
    }
    #tableName {
        width: 70%;
    }
    #viewPlayers > div {
        float: none;
        width: 100%;
    }
}